<header class='header'>
  <div class='header-artsy-logo'>Artsy</div>
  <div class='header-folio-logo'>Folio</div>
  <div class='header-text'>Artsy for Galleries</div>
</header>

<% data.sections.each_with_index do |section, i| %>
  <section class='section section-<%= i + 1 %>'>
    <div class='section-inner'>

      <div class='section-meta'>
        <h2 class='section-headline'><%= section.headline %></h2>
        <div class='section-description'>
          <%= render_markdown(section.description) %>
        </div>
        <div class='section-cta'>
          <a href='#' class='button section-cta-button'>Get Folio</a>
        </div>
      </div>

      <div class='section-image'>
        <%= image_tag section.image %>
      </div>

    </div>

    <% if i == 0 %>
      <a href='#' class='caret push-down'></a>
    <% end %>

  </section>
<% end %>

<section id='cta' class='cta'>
  <div class='cta-inner'>
    <h2 class='section-headline'><%= data.config.cta_headline %></h2>
    <div class='section-description'>
      <%= data.config.cta_description %>
    </div>

    <form id='cta-form' accept-charset="UTF-8" action="https://formkeep.com/f/c139a8db9c9d" method="POST">
      <input type="hidden" name="utf8" value="✓">
      <input name='name' type='text' class='bordered-input' placeholder='Name'>
      <input name='email' type='email' class='bordered-input' placeholder='Email'>
      <button class='button is-block'>Send</button>
    </form>
  </div>
</section>

<footer class='footer'>
  <%= data.config.footer_text %>
  <a href='<%= data.config.footer_link_url %>'>
    <%= data.config.footer_link_text %>
  </a>
</footer>
