.header
  .header-artsy-logo Artsy
  .header-folio-logo.js-scroll-to-top Folio
  .header-text
    %a.js-artsy-for-galleries{ href: 'https://artsy.net/gallery-partnerships', target: '_blank' }
      Artsy for Galleries

- data.sections.each_with_index do |section, i|
  - if i == 0
    = partial '_hero_section', locals: { i: i, section: section }
  - else
    = partial '_section', locals: { i: i, section: section }

#endorsements.endorsements
  %h2.endorsement-headline
    = data.endorsements.headline
  .endorsement-logos
    - data.endorsements.logos.each do |logo|
      = image_tag logo.src, alt: logo.alt, class: 'endorsement-logo'
  .endorsement-quotes
    - data.endorsements.quotes.each do |quote|
      .endorsement-quote
        %p
          = "“#{quote.quote}”"
        %p
          = "—#{quote.credit.name}, "
          %em= quote.credit.place

#cta.cta
  .cta-inner
    %h2.section-headline
      = data.cta.headline
    %h3.section-subheadline
      = data.cta.description
    %a.button.button--inverted.js-learn-more-footer{ href: data.cta.button.href }
      = data.cta.button.label

    %hr

    %h3.section-subheadline
      = data.cta.subheadline
    %a.button.button--inverted.js-download-folio{ href: data.config.app_url }
      = data.config.app_download_text
