<header class='header'>
  <div class='header-artsy-logo'>Artsy</div>
  <div class='header-folio-logo'>Folio</div>
  <div class='header-text'>
    <a href='https://artsy.net/gallery-partnerships' target='_blank'>
      Artsy for Galleries
    </a>
  </div>
</header>

<% data.sections.each_with_index do |section, i| %>
  <% if i == 0 %>
    <%= partial '_hero_section', locals: { i: i, section: section } %>
  <% else %>
    <%= partial '_section', locals: { i: i, section: section } %>
  <% end %>
<% end %>

<section id='cta' class='cta'>
  <div class='cta-inner'>
    <h2 class='section-headline'><%= data.config.cta_headline %></h2>
    <div class='section-description'>
      <%= data.config.cta_description %>
    </div>

    <form id='cta-form' accept-charset="UTF-8" action="https://formkeep.com/f/c139a8db9c9d" method="POST">
      <input type="hidden" name="utf8" value="✓">
      <input name='name' type='text' class='bordered-input' placeholder='Name' required>
      <input name='email' type='email' class='bordered-input' placeholder='Email' required>
      <button class='button is-block'>Send</button>
    </form>
  </div>
</section>

<footer class='footer'>
  <%= data.config.footer_text %>
  <a href='<%= data.config.footer_link_url %>'>
    <%= data.config.footer_link_text %>
  </a>
</footer>
